.hero {
    background-color: rgb(141, 6, 168);
    background: rgba(141, 6, 168, 0.7);
    border-top: solid transparent;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(255, 230, 0, 0.89);
    text-shadow: 3px 2px 2px rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
}

body {
    margin: 0%;
    background-image: url(arquivo_imagens/animes2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
    background-position: right bottom;
    text-align: center;
}

.hero nav ul {
    text-align: right;
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
}

.hero nav li {
    display: inline-block;
    list-style: none;
}

.hero nav button {
    border: 1px solid rgb(255, 153, 0);
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgb(255, 153, 0);
    display: block;
    padding: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

main {
    width: 80%;
    margin: auto;
}

.content-sec {
    background-color: rgba(255, 255, 255 , 0.6);
    padding: 15px;
    margin-top: 15px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
}


.card {
    display: inline-block;
    padding: 5px;
    border: 1px solid;
    margin: 20px;
    background:rgba(114, 113, 113, 0.6);

}

.tp {
    display: inline-block;
    padding: 5px;
    border: 1px solid;
    border: rgba(0, 0, 0, 0.6);
    margin: 20px;
    background: rgb(114, 113, 113, 0.6);
}

.tp img {
    width: 150px;
    height: 100px;
}

img {
    width: 250px;
    height: 300px;
}

#sub {
    text-align: center;
}

.tituloh3 {
    border: 1px solid rgba(0, 0, 0, 0.6);
    background: rgba(255, 153, 0, 0.6);
}

.hero2 {
    text-align: center;
    background-color: rgba(255, 255, 255 , 0.6);
    padding-bottom: 10px;
}

.hero2 h3 {
    font-size: 30px;
    padding-top: 20px;
}

.list {
    list-style: none;
    padding: 10px;
    font-size: 28px;
    background-color: rgb(129, 129, 129);
    margin-left: 20%;
    margin-right: 25%;
    margin-top: 5px;
    text-align: left;
    border-bottom: 3px solid black;
}

.list:hover .sublist {
    display: block;
    margin-top: 2px;
}

.sublist {
    box-sizing: border-box;
    display: none;
    padding-top: 10px;
    padding-right: 30px;
}

.rodape {
    height: 140px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    background-color: rgb(238, 134, 16);
    padding-top: 30px;
    margin-top: 25px;
}

.linha {
    text-align: center;
    margin-top: 26px;
    margin-right: 40px;
}

.linha li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    text-shadow: 0px 0px 0px rgb(0, 0, 0);
}

.borda {
    border-right: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    width: 200px;
}

/* modal */

.formular {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0%;
    left: 0px;
    background-color: rgba(53, 53, 53, 0.6);
    z-index: 2000;
    /*teste*/
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s
    ease-in-out, opacity 0.25s ease-in-out;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.div-principal {
    display: block;
    margin-left: 35%;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}


.cabeca {
    background: linear-gradient(90deg, #de2100 0%, #ffbb00 100%);
    padding: 20px;
}

form {
    padding: 20px;
}

.divisoes {
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}

.divisoes label {
    display: inline-block;
    margin-bottom: 5px;
}

.divisoes input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 10px;
    width: 95%;
    padding: 10px;
}

.divisoes i {
    position: absolute;
    top: 32px;
    right: 5px;
    visibility: hidden;
}

.divisoes small {
    position: absolute;
    bottom: 2;
    left: 0;
    visibility: hidden;
}

button {
    background-color: rgb(228, 152, 13);
    border: 2px solid rgb(228, 152, 13);
    color: #fff;
    width: 101%;
    border-radius: 10px;
    padding: 10px;
}

button:hover {
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);;
}

.divisoes.success input {
    border-color: #2ecc71;
}

.divisoes.error input {
    border-color: #e74c3c;
}

.divisoes.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.divisoes.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.divisoes.error small {
    visibility: visible;
    color: #e74c3c;
}

.fechar {
    right: 0px;
    background-color: transparent;
    position: absolute;
    width: auto;
    top: 0px;
}

/* modal1 */

.formular1 {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0%;
    left: 0px;
    background-color: rgba(53, 53, 53, 0.6);
    z-index: 2000;
    /*teste*/
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s
    ease-in-out, opacity 0.25s ease-in-out;
}

.show-login {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.div-principal1 {
    display: block;
    margin-left: 35%;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}


.cabeca1 {
    background: linear-gradient(90deg, #de2100 0%, #ffbb00 100%);
    padding: 20px;
}

form {
    padding: 20px;
}

.divisoes1 {
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
}

.divisoes1 label {
    display: inline-block;
    margin-bottom: 5px;
}

.divisoes1 input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 10px;
    width: 95%;
    padding: 10px;
}

.divisoes1 i {
    position: absolute;
    top: 32px;
    right: 5px;
    visibility: hidden;
}

.divisoes1 small {
    position: absolute;
    bottom: 2;
    left: 0;
    visibility: hidden;
}

button {
    background-color: rgb(228, 152, 13);
    border: 2px solid rgb(228, 152, 13);
    color: #fff;
    width: 101%;
    border-radius: 10px;
    padding: 10px;
}

button:hover {
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);;
}

.divisoes1.success input {
    border-color: #2ecc71;
}

.divisoes1.error input {
    border-color: #e74c3c;
}

.divisoes1.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.divisoes1.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.divisoes1.error small {
    visibility: visible;
    color: #e74c3c;
}

.fechar1 {
    right: 0px;
    background-color: transparent;
    position: absolute;
    width: auto;
    top: 0px;
}

/* duvidas */
.duvidas-respostas {
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.button {
    color: rgb(0, 0, 0);
    background-color: grey;
    padding: 20px;
    font-size: 20px;
    width: 600px;
    border: 1px transparent;
    position: relative;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(238, 134, 16);
    margin-top: 3px;
}

.button:hover {
    color: white;
}

.sinal {
    position: absolute;
    right: 5%;
    top: 25%;
    font-size: 30px;
}

.sinal1 {
    position: absolute;
    right: 5%;
    top: 17%;
    font-size: 35px;
    display: none;
}

.resposta {
    display: none;
    margin-left: 190px;
    border-radius: 10px;
    background-color: grey;
    width: 598px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    border: 1px solid rgb(238, 134, 16);
    background-color: rgb(238, 134, 16);
    font-family: 'Poppins', sans-serif; 
}

.wpp {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10%;
    bottom: -235%;
}

.fa-whatsapp {
    font-size: 40px;
    padding: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: none;
    cursor: pointer;
}

.linkar {
    /*background-color: rgb(78, 194, 194);*/
    padding-top: 24px;
    padding-bottom: 4px;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    border-radius: 10px;
}

.contato {
    font-family: 'Poppins', sans-serif;    
}

/* sobre o criador */

.article-criador {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0%;
    left: 0px;
    background-color: rgba(53, 53, 53, 0.6);
    z-index: 2000;
    /* teste */
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s
    ease-in-out, opacity 0.25s ease-in-out;
}

.div-criador {
    display: block;
    margin-left: 35%;
    margin-top: 2%;
    justify-content: center;
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}

.cabeca1 {
    background: linear-gradient(90deg, #de2100 0%, #ffbb00 100%);
    padding: 20px;
    font-size: 20px;
}

.pequena-descricao {
    padding: 10px;
    text-align: left;
}

.show-sobre {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}